* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.3;
}
@media (max-width: 400px) {
  html,
  body {
    font-size: calc(15px + (18 - 15) * (100vw - 320px) / (400 - 320));
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  display: none;
}
/**
 * 
 */
#themes-selector {
  padding: 6px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 400px) {
  #themes-selector {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
#themes-selector a {
  border: 1px solid #a0a0a0;
  padding: 5px;
  margin: 0 10px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}
#themes-selector a:hover {
  text-decoration: none;
}
@media (max-width: 400px) {
  #themes-selector a {
    margin: 0;
  }
}
#themes-selector a.white {
  background: #fbfbfb;
  color: #fbfbfb;
}
#themes-selector a.white.selected {
  color: #202020;
}
#themes-selector a.sepia {
  background: #f9f2e5;
  color: #f9f2e5;
}
#themes-selector a.sepia.selected {
  color: #55361e;
}
#themes-selector a.black {
  background: #171717;
  color: #171717;
}
#themes-selector a.black.selected {
  color: #b6b6ad;
}
/**
 * Навигация
 */
nav {
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 700px) {
  nav .chptr {
    display: none;
  }
}
nav .short {
  display: none;
}
@media (max-width: 1200px) {
  nav .short {
    display: inline;
  }
}
@media (max-width: 1200px) {
  nav .long {
    display: none;
  }
}
nav#chapters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 42px 10px 12px;
  line-height: 20px;
}
nav#next {
  padding: 1.3em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #c0c0c0;
}
nav#permanent a:hover {
  text-decoration: none;
}
nav#permanent #roast-beef {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 12px;
  z-index: 10;
}
nav#anchors {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transform: translateX(310px);
          transform: translateX(310px);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  padding: 0 0 4em;
  font-size: 16px;
  line-height: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
}
@media (max-width: 400px) {
  nav#anchors {
    width: 150px;
  }
}
nav#anchors.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
nav#anchors > a {
  display: block;
  position: relative;
  padding: 0 1em;
  white-space: nowrap;
}
@media (max-width: 700px) {
  nav#anchors > a {
    padding: 0 0.5em;
  }
}
nav#anchors > a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
}
nav#anchors > a:hover {
  text-decoration: none;
}
/**
 * Основной текст
 */
main .text {
  margin: 0 auto;
  width: 20em;
}
@media (max-width: 700px) {
  main .text {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  main .text {
    margin: 0 5vw;
    width: 90vw;
  }
}
h2 {
  margin-top: 2em;
}
h4 {
  margin-bottom: 2.6em;
}
h2,
h3,
h4 {
  margin-right: 3em;
  text-align: center;
}
@media (max-width: 400px) {
  h2,
  h3,
  h4 {
    margin-right: 0;
  }
}
quote {
  display: block;
  text-align: right;
  font-size: 80%;
}
quote > div {
  display: inline-block;
  width: 10em;
  margin-bottom: 0.5em;
  text-align: left;
}
quote + quote {
  margin-top: 1em;
}
p {
  white-space: pre;
  margin: 0;
}
p:last-child {
  margin-bottom: 2.6em;
}
p + p {
  margin-top: 1.3em;
}
/**
 * Определение цветовых схем
 */
body.white {
  background: #fff;
  color: #202020;
}
body.white a:link,
body.white a:visited {
  color: #bcbcbc;
}
body.white a:hover,
body.white a:active,
body.white a.active {
  color: #797979;
}
body.white #roast-beef {
  color: #797979;
  background-color: rgba(255,255,255,0.8);
}
body.white nav#anchors {
  background-color: #f7f7f7;
  box-shadow: -5px 0px 8px rgba(0,0,0,0.1);
}
body.white nav#anchors > a:before {
  background: -webkit-linear-gradient(left, rgba(247,247,247,0) 0%, #f7f7f7 100%);
  background: linear-gradient(to right, rgba(247,247,247,0) 0%, #f7f7f7 100%);
}
body.sepia {
  background: #f9f2e5;
  color: #55361e;
}
body.sepia a:link,
body.sepia a:visited {
  color: #ccc2bb;
}
body.sepia a:hover,
body.sepia a:active,
body.sepia a.active {
  color: #998678;
}
body.sepia #roast-beef {
  color: #998678;
  background-color: rgba(249,242,229,0.8);
}
body.sepia nav#anchors {
  background-color: #f2ebdd;
  box-shadow: -5px 0px 8px rgba(85,54,30,0.1);
}
body.sepia nav#anchors > a:before {
  background: -webkit-linear-gradient(left, rgba(242,235,221,0) 0%, #f2ebdd 100%);
  background: linear-gradient(to right, rgba(242,235,221,0) 0%, #f2ebdd 100%);
}
body.black {
  background: #171717;
  color: #b6b6ad;
}
body.black a:link,
body.black a:visited {
  color: #5e5e54;
}
body.black a:hover,
body.black a:active,
body.black a.active {
  color: #959587;
}
body.black #roast-beef {
  color: #959587;
  background-color: rgba(23,23,23,0.8);
}
body.black nav#anchors {
  background-color: #232323;
  box-shadow: -1px 0px 0px rgba(182,182,173,0.1);
}
body.black nav#anchors > a:before {
  background: -webkit-linear-gradient(left, rgba(35,35,35,0) 0%, #232323 100%);
  background: linear-gradient(to right, rgba(35,35,35,0) 0%, #232323 100%);
}
