// Цветовая схема
white_bgColor          = #ffffff
white_textColor        = #202020
white_linkColor        = lighten(white_textColor, 70%)
white_activeLinkColor  = lighten(white_textColor, 40%)
white_navBgColor       = darken(white_bgColor, 3%)
white_navShadow        = -5px 0px 8px alpha(#000, 0.1)
white_roastbeefBgColor = alpha(white_bgColor, 0.8)

sepia_bgColor          = #f9f2e5
sepia_textColor        = #55361e
sepia_linkColor        = desaturate(lighten(sepia_textColor, 70%), 70%)
sepia_activeLinkColor  = desaturate(lighten(sepia_textColor, 40%), 70%)
sepia_navBgColor       = desaturate(darken(sepia_bgColor, 3%), 30%)
sepia_navShadow        = -5px 0px 8px alpha(sepia_textColor, 0.1)
sepia_roastbeefBgColor = alpha(sepia_bgColor, 0.8)

black_bgColor          = #171717
black_textColor        = #b6b6ad
black_linkColor        = darken(black_textColor, 50%)
black_activeLinkColor  = darken(black_textColor, 20%)
black_navBgColor       = lighten(black_bgColor, 5%)
black_navShadow        = -1px 0px 0px alpha(black_textColor, 0.1)
black_roastbeefBgColor = alpha(black_bgColor, 0.8)

// Основные теги
*
  box-sizing border-box

html
body
  width 100%
  margin 0
  font-family Georgia, serif
  font-size 18px
  line-height 1.3
  
  @media (max-width: 400px)
    font-size calc(15px + (18 - 15) * (100vw - 320px) / (400 - 320))

a
  text-decoration none
  
  &:hover
    text-decoration underline

nav
  font-family Arial, Helvetica, sans-serif
