* {
    box-sizing:border-box;
}
html, body {
    margin: 0;
    font-size: 18px;
    line-height: 1.3;
    font-family: Georgia, serif;
    width: 100%;
}

/**
 * Навигация
 */
nav {
    font-family: Arial, Helvetica, sans-serif;
}
nav > a {
    text-decoration: none;
}

/* Главы */
nav#chapters {
    display: flex;
    justify-content: space-around;
    padding: 1.3em 1em;
/*    background-color: #eee;*/
}
nav#chapters > a,
nav#chapters > a:link,
nav#chapters > a:visited {
    color: silver;
}
nav#chapters > a.active,
nav#chapters > a:hover,
nav#chapters > a:active {
    color: grey;
}
nav#chapters > a > .short {
    display: none;
}

/* Переход к следующей или предыдущей главе — внизу */
nav#next {
    padding: 1.3em 1em;
    display: flex;
    justify-content: space-between;
}
nav#next > a,
nav#next > a:link,
nav#next > a:visited {
    color: silver;
}
nav#next > a:hover,
nav#next > a:active {
    color: grey;
}

/* Менюшка со строфами */
nav#show-anchors > #show-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: .3em .6em;
    color: grey;
/*    background-color: #ddd;*/
    z-index: 10;
}

nav#anchors {
    position: fixed;
    background-color: #f7f7f7;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding: 1.3em 0 4em;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 16px;
    line-height: 2;
    transition: right .3s;
    z-index: 20;
}
nav#anchors.open { right: 0; }

nav#anchors > #hide-nav {
    font-size: 20px;
    padding: .3em .6em;
    line-height: 1.3;
}

nav#anchors > a {
    display: block;
    padding: 0 1em;
    color: grey;
    white-space: nowrap;
}
nav#anchors > a:hover {
    background-color: #f0f0f0;
}
nav#anchors > a > small {
    color: silver;
}

/**
 * Основной текст
 */
main {    
/*    background-color: #ddfbff;*/
}
main > div {
    margin: 0 auto;
    width: 20em;
    
/*    background-color: #eefbff;*/
}

h2 {
    margin-top: 2em;
}
h2, h3, h4 {
    margin-right: 3em;
    text-align: center;
}
h4 {
    margin-bottom: 2.6em;
}
quote {
    display: block;
    text-align: right;
    font-size: 80%;
}
quote + quote {
    margin-top: 1em;
}
quote > div {
    display: inline-block;
    text-align: left;
    width: 10em;
    margin-bottom: .5em;
}
p {
    margin: 0;
    white-space: pre;
}
p + p {
    margin-top: 1.3em;
}
p:last-child {
    margin-bottom: 2.6em;
}
sup {
    display: none;
}


@media (max-width: 1200px) {
    nav#chapters > a > .short { display: inline; }
    nav#chapters > a > .long { display: none; }
}

@media (max-width: 700px) {
    nav#chapters > a > .chptr { display: none; }
    
    nav#anchors > a {
        padding: 0 .5em;
    }
    main > div {
        margin: 0 auto;
    }
}
@media (max-width: 400px) {
    html, body {
        font-size: calc(15px + (18 - 15) * (100vw - 320px) / (400 - 320));
    }
    main > div {
        margin: 0 5vw;
        width: 90vw;
    }
    h2, h3, h4 {
        margin-right: 0;
    }
    nav#anchors {
        width: 200px;
    }
    
}
